In [58]:
import pandas as pd

products = pd.read_csv('products.csv')
orders = pd.read_csv('orders.csv')

products.rename(columns={'id':'product_id','name':'product_name'},inplace=True)
orders.rename(columns={'id':'order_id','created_date':'order_created_date'},inplace=True)

product_orders = orders.merge(products, left_on='product_id', right_on='product_id', suffixes=['_orders', '_products'])
product_orders['total_price'] = product_orders['quantity'] * product_orders['price']

summary = product_orders[['order_created_date', 'order_id', 'product_name','quantity','total_price']]

# summary.to_csv('order_full_information.csv',index=False)

In [102]:
product_orders.head(5)

,order_id,product_id,quantity,order_created_date,product_name,category,price,total_price
0,1,11,1,'2024-12-01',Product_11,Dresses,69.06,69.06
1,2,17,2,'2024-12-01',Product_17,Shirts,98.51,197.02
2,3,19,1,'2024-12-01',Product_19,Shirts,51.94,51.94
3,4,12,1,'2024-12-01',Product_12,Jackets,50.99,50.99
4,5,11,2,'2024-12-01',Product_11,Dresses,69.06,138.12

In [ ]:
import challenge1
import requests



# print(challenge1.challenge1())

response = requests.get(url='https://api.freecurrencyapi.com/v1/latest?apikey=fca_live_cFEkStWOPsZ1U3rSNaIrW2q04tR3eXCZ3iaWbpCQ')

print(response.json())

{'data': {'AUD': 1.5916402491, 'BGN': 1.8854002116, 'BRL': 6.0316710333, 'CAD': 1.4301302124, 'CHF': 0.9059401676, 'CNY': 7.3015014466, 'CZK': 24.130413536, 'DKK': 7.158261156, 'EUR': 0.9592001342, 'GBP': 0.8108901305, 'HKD': 7.7780309866, 'HRK': 6.864540822, 'HUF': 393.9913856045, 'IDR': 16341.773982273, 'ILS': 3.5613503746, 'INR': 86.1768491971, 'ISK': 140.5921355073, 'JPY': 155.2342784487, 'KRW': 1437.0187639843, 'MXN': 20.4840229941, 'MYR': 4.4917707674, 'NOK': 11.2893115651, 'NZD': 1.7597201944, 'PHP': 58.1967602648, 'PLN': 4.0758405743, 'RON': 4.7742705583, 'RUB': 101.5009642724, 'SEK': 11.0000619443, 'SGD': 1.3534702584, 'THB': 34.1161334428, 'TRY': 35.5419136925, 'USD': 1, 'ZAR': 18.5331121989}}

In [57]:
response.json()['data']['BRL']

6.0316710333

In [111]:
summary_grouped_by_date = summary.groupby(by='order_created_date',as_index=False)

highest_orders_day = summary_grouped_by_date.count().sort_values(by = 'order_id' , ascending=False)[['order_created_date']].head(1)

highest_orders_day.rename(columns={'order_created_date':'##date_with_most_orders','order_id':'orders_amount'},inplace=True)

highest_orders_day.to_csv('kpi_product_orders.csv',index=False)

In [92]:
summary.head(5)

  order_created_date  order_id product_name  quantity  total_price
0       '2024-12-01'         1   Product_11         1        69.06
1       '2024-12-01'         2   Product_17         2       197.02
2       '2024-12-01'         3   Product_19         1        51.94
3       '2024-12-01'         4   Product_12         1        50.99
4       '2024-12-01'         5   Product_11         2       138.12

In [112]:
summary_grouped_by_product = summary.groupby(by='product_name',as_index=False)

most_sold_products = summary_grouped_by_product.sum().sort_values(by = 'quantity' , ascending=False)[['product_name','total_price']].head(1)

most_sold_products.rename(columns={'product_name':'##most_sold_product','total_price':'sales_value'},inplace=True)

most_sold_products.to_csv('kpi_product_orders.csv',index=False,mode='a')

In [113]:
summary_grouped_by_category = product_orders.groupby(by='category',as_index=False)

most_sold_categorys = summary_grouped_by_category.sum().sort_values(by = 'quantity' , ascending=False)[['category','quantity']].head(3)

most_sold_categorys.rename(columns={'category':'##top_3_most_demanded_categories','quantity':'demanded_quantity'},inplace=True)

most_sold_categorys.to_csv('kpi_product_orders.csv',index=False,mode='a')